@page "/"

<div style="display: flex; flex-flow: column; height: 100%">
    <header>
        Clustering Visualisation - EdShel, 2021
    </header>
    <div style="flex-grow: 1">
        <div style="display: flex; width: 100%; height: 100%">
            @if (this.methodIndex == 0)
            {
                <KMeansClustering @ref="this.clusteringMethod"></KMeansClustering>
            }
            else
            {
                <SingleLinkageClustering @ref="this.clusteringMethod"></SingleLinkageClustering>
            }
            <div class="points-panel">
                <h3>Clustering method</h3>
                <div>
                    <select value="@methodIndex" @onchange="OnClusteringMethodChanged">
                        <option value="0">K-means</option>
                        <option value="1">Single-linkage (dendrogram)</option>
                    </select>
                </div>

                <h3>Points</h3>
                <div class="point-count-select">
                    <div>
                        <label for="pointsScroller">Points count</label>
                        <input type="number" min="1" max="500" step="1" value="@pointsCount" @onchange="OnPointsCountChanged" />
                    </div>
                    <input id="pointsScroller" type="range" min="@MIN_POINTS" max="@MAX_POINTS" value="@pointsCount" @onchange="OnPointsCountChanged" />
                </div>
                <div class="new-line">
                    <label for="clustersCountScroller">Clusters count: @clustersCount</label>
                    <input id="clustersCountScroller" type="range" min="1" max="10" step="1" value="@clustersCount" @onchange="OnClustersCountChanged" />
                </div>
                <div class="new-line">
                    <label for="stdevScroller">Clusters StdDev: @stdev</label>
                    <input id="stdevScroller" type="range" min="0" max="1" step="0.05" value="@stdev.ToString(System.Globalization.CultureInfo.InvariantCulture)" @onchange="OnStdevChanged" />
                </div>
                <div class="new-line">
                    <label for="areaScroller">Area size: @areaSize</label>
                    <input id="areaScroller" type="range" min="2" max="10" step="0.1" value="@areaSize.ToString(System.Globalization.CultureInfo.InvariantCulture)" @onchange="OnAreaSizeChanged" />
                </div>
                <div>
                    <label for="randomSeedInput">Random seed</label>
                    <input id="randomSeedInput" type="number" min="@MIN_RNG_SEED" max="@MAX_RNG_SEED" step="1" value="@randomSeed" @onchange="OnRandomSeedChanged" />
                    <button @onclick="RandomizeSeed">Randomize seed</button>
                </div>
            </div>
        </div>

    </div>
</div>
